@{
    ViewBag.Title = "Home Page";

}
<link 1&lt;link rel="icon" href="~/img/icono/icono.png" type="image/png" /&gt;>
<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero">
    <div class="hero-container">
        <div class="wow fadeIn">
            <div class="hero-logo">
                <!--<img class="logo-sbs" src="img/logo/logo.png" alt="SBS">-->
            </div>

            <h1>Bienvenido a Software Business Solutions</h1>
            <h2>Creamos <span class="rotating">páginas web, apps IOS y Android, apps de escritorio Windows</span></h2>
            <div class="actions">
                <a href="#about" class="btn-get-started">Inicio</a>
                <a href="#services" class="btn-services">Nuestros servicios</a>
            </div>
        </div>
    </div>
</section>

<!--==========================
Sección de encabezado
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!--<a href="#hero"><img id="menu-icon" src="img/logo/logo.png" alt="" title="" /></img></a>-->
            <!-- Descomenta abajo si prefieres usar una imagen de texto -->


            <h1><a href="#hero"><img id="logo-sbs" src="img/logo/logo.png" alt="" title="" /></img></a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#hero">Inicio</a></li>
                <li><a href="#about">¿Quienes somos?</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#portfolio">Portafolio</a></li>
                <li><a href="#testimonials">Testimonios</a></li>
                <li><a href="#team">Equipo</a></li>
                <li class="menu-has-children">
                    <a href="">Drop Down</a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="menu-has-children">
                            <a href="#">Drop Down 2</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>

                            </ul>
                        </li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                        <li><a href="#">Drop Down 5</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->
<!--==========================
About Section
============================-->
<section id="about">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">¿Quienes somos?</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Nos dedicamos al desarrollo tecnológico en las empresas y organizaciones, con el firme objetivo de que la tecnología esté al alcance de todos. Por ello trabajamos con personas que necesitan desde una página web o facturación electrónica, hasta empresas internacionales que necesitan soluciones tecnológicas para miles de usuarios.</p>
            </div>
        </div>
    </div>
    <div class="container about-container wow fadeInUp">
        <div class="row">
            <div class="col-md-12 first-column">
                <img src="img/about-img.jpg">
            </div>
            <div id="contenido-texto" class="col-md-6 col-md-push-6 about-content">
                <h2 class="about-title">We provide great services and ideass</h2>
                <p class="about-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate
                </p>
                <p class="about-text">
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                    id est laborum
                </p>
                <p class="about-text">
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                    id est laborum
                </p>
            </div>
        </div>
    </div>
</section>

<!--==========================
Services Section
============================-->
<section id="services">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">NUESTROS SERVICIOS</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 service-item">
                <div class="service-icon"><i class="fa fa-code"></i></div>
                <h4 class="service-title"><a href="">Desarrollo Web</a></h4>
                <p class="service-description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
            <div class="col-md-4 service-item">
                <div class="service-icon"><i class="fa fa-desktop"></i></div>
                <h4 class="service-title"><a href="">Apps Windows</a></h4>
                <p class="service-description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
            <div class="col-md-4 service-item">
                <div id="service-mobile" class="service-icon"><i id="icon-mobile" class="fas fa-mobile-alt"></i></div>
                <h4 class="service-title"><a href="">Apps</a></h4>
                <p class="service-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
            <div class="col-md-4 service-item">
                <div class="service-icon"><i class="fa fa-laptop"></i></div>
                <h4 class="service-title"><a href="">IOS</a></h4>
                <p class="service-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="col-md-4 service-item">
                <div class="service-icon"><i class="fa fa-road"></i></div>
                <h4 class="service-title"><a href="">Nemo Enim</a></h4>
                <p class="service-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
            <div class="col-md-4 service-item">
                <div class="service-icon"><i class="fa fa-shopping-bag"></i></div>
                <h4 class="service-title"><a href="">Eiusmod Tempor</a></h4>
                <p class="service-description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
        </div>
    </div>
</section>

<!--==========================
Subscrbe Section
============================-->
<section id="subscribe">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-8">
                <h3 class="subscribe-title">Recibe actualizaciones</h3>
                <p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
            </div>
            <div class="col-md-4 subscribe-btn-container">
                <a class="subscribe-btn" href="#">Suscribirse</a>
            </div>
        </div>
    </div>
</section>

<!--==========================
Porfolio Section
============================-->
<section id="portfolio">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Portafolio</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" onclick="mostrarDescripcion(1)">
                <ul class="grid">

                    <a class="portfolio-item" style="background-image: url(img/work/logicZotz/logicZotzPrincipal.jpg);" href="Javascript:">
                        <div class="details">
                            <h4>LogicZotz: <br />Versión Dragon Ball</h4>
                            <span>Aplicación Windows</span>
                        </div>
                    </a>
                </ul>
            </div>

            <div class="col-md-3" onclick="mostrarDescripcion(2)">
                <a class="portfolio-item" style="background-image: url(img/work/cpr_soluciones/cpr_solucionesPrincipal.jpg);" href="Javascript:">
                    <div class="details">
                        <h4>CPR Soluciones</h4>
                        <span>Sitio Web</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3" onclick="mostrarDescripcion(3)">
                <a class="portfolio-item" style="background-image: url(img/work/tgz/tgzPrincipal.jpg);" href="Javascript:">
                    <div class="details">
                        <h4>The Gamer Zone</h4>
                        <span>Sitio Web</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3" onclick="mostrarDescripcion(4)">
                <a class="portfolio-item" style="background-image: url(img/work/toz/tozPrincipal.jpg); background-size: 100% 100%" href="Javascript:">
                    <div class="details">
                        <h4>The Otaku Zone</h4>
                        <span>Sitio Web</span>
                    </div>
                </a>
            </div>

            <h2 style="text-align: center;">Esto es un salto</h2>

            <div class="col-md-3" onclick="mostrarDescripcion(5)">
                <a class="portfolio-item" style="background-image: url(img/portfolio-5.jpg);" href="Javascript:">
                    <div class="details">
                        <h4>Portfolio 5</h4>
                        <span>Alored dono par</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3" onclick="mostrarDescripcion(1)">
                <a class="portfolio-item" style="background-image: url(img/portfolio-6.jpg);" href="Javascript:">
                    <div class="details">
                        <h4>Portfolio 6</h4>
                        <span>Alored dono par</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3" onclick="mostrarDescripcion(1)">
                <a class="portfolio-item" style="background-image: url(img/portfolio-7.jpg);" href="Javascript:">
                    <div class="details" onclick="mostrarDescripcion(1)">
                        <h4>Portfolio 7</h4>
                        <span>Alored dono par</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3" onclick="mostrarDescripcion(1)">
                <a class="portfolio-item" style="background-image: url(img/portfolio-8.jpg);" href="Javascript:">
                    <div class="details">
                        <h4>Portfolio 8</h4>
                        <span>Alored dono par</span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

<!--==========================
Testimonials Section
============================-->
<section id="testimonials">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Testimonios</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="profile">
                    <div class="pic"><img src="img/client-1.jpg" alt=""></div>
                    <h4>Saul Goodman</h4>
                    <span>Lawless Inc</span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="quote">
                    <b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="img/quote_sign_right.png" alt=""></small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="quote">
                    <b><img src="img/quote_sign_left.png" alt=""></b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small><img src="img/quote_sign_right.png" alt=""></small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="profile">
                    <div class="pic"><img src="img/client-2.jpg" alt=""></div>
                    <h4>Sara Wilsson</h4>
                    <span>Odeo Inc</span>
                </div>
            </div>
        </div>

    </div>
</section>

<!--==========================
Team Section
============================-->
<section id="team">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Nuestro Equipo</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="member">
                    <div class="pic"><img height="100%" width="70%" src="img/team/isc-cristian_perez.jpg" alt=""></div>
                    <h4>Cristian Pérez García</h4>
                    <span>Desarrollador Web/Windows</span>
                    <div class="social">
                        <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/ISC.CristianPerez/" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="https://www.linkedin.com/in/cristian-perez-garcia-387781170/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="member">
                    <div class="pic"><img height="100%" width="70%" src="img/team/isc-luis_montero.jpg" alt=""></div>
                    <h4>Luis Montero Vazquez</h4>
                    <span>Desarrollador Web/Windows</span>
                    <div class="social">
                        <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="member">
                    <div class="pic"><img height="100%" width="70%" src="img/team/isc-oscar_cruz.jpg" alt=""></div>
                    <h4>Oscar Omar Cruz Bernal</h4>
                    <span>Desarrollador Android/IOS</span>
                    <div class="social">
                        <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-3">
              <div class="member">
                <div class="pic"><img src="img/team-4.jpg" alt=""></div>
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <div class="social">
                  <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                  <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>-->

        </div>
    </div>
</section>

<!--==========================
Contact Section
============================-->
<section id="contact">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Contactanos</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
        </div>

        <form class="contact100-form validate-form">
            <div class="col-md-6">
                <div class="wrap-input100 validate-input" data-validate="El nombre de tu negocio es requerido">
                    <input class="input100" type="text" name="busines-name" placeholder="¿Cual es el nombre de tu negocio?">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Una cuenta de correo es requerida: ex@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="¿Cual es tu correo electrónico?">
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-select100 validate-select" data-validate="Es necesario que seleciones un tipo de proyecto">
                    <select class="select100" id="tipoCotizacion">
                        <option value="0" disabled selected>Tipo de proyecto a cotizar</option>
                        <option value="1">Sitio Web</option>
                        <option value="2">App Móbil</option>
                        <option value="3">Aplicación Windows</option>
                    </select>
                    <span class="focus-select100"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrap-input100 validate-input" data-validate="Tu número de telefono es requerido">
                    <input class="input100" type="text" name="phone" placeholder="¿Cual es tu número de teléfono?">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Tu nombre completo es requerido">
                    <input class="input100" type="text" name="name" placeholder="¿Cual es tu nombre completo?">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Tu número de telefono es requerido">
                    <input class="input100" type="text" name="phone" placeholder="¿Cual es tu presupuesto para el proyecto?">
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Menciona algún medio por el cual nos has encontrado">                
                <input class="input100" name="message" placeholder="¿Cómo nos encontraste?">
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    <span>
                        Enviar
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</section>



<!--======================
    Modals
    =====================-->


<div class="modal fade" id="modalDescripcionPortafolio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Descripción</h4>
            </div>
            <div id="contenidoDescripcionPortafolio" class="modal-body">
                <img id="imagenesPortafolio" width='100%' height='100%' />
                <p id="descripcionPortafolio"></p>
            </div>
            <div class="modal-footer">
                <!--<button onclick="ActualizarMonto()" type="button" class="btn btn-info"> Aceptar</button>-->
                <button type="button" class="btn btn-info" data-dismiss="modal"> Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!---modals-->
<!--==========================
  Footer
============================-->
@*<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        &copy; Copyright <strong>SystemDNS Theme</strong>. All Rights Reserved
                    </div>
                    <div class="credits">

                        Templates by <a href="http://www.servitecflhuaraz.com/">SystemDNS</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>*@
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


<!--======================
  Modals
  =====================-->
<!--
  <div class="modal fade" id="myModalActualizaMonto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">ESTATUS DE LA ACCIÓN</h4>
            </div>
            <div class="modal-body">
                <p id="mensaje-actualizaMonto"></p>
            </div>
            <div class="modal-footer">
                <button onclick="ActualizarMonto()" type="button" class="btn btn-info"> Aceptar</button>

                <button type="button" class="btn btn-info" data-dismiss="modal"> Cancelar</button>
            </div>
        </div>
    </div>
</div>
-->
<!---modals-->
<!-- Required JavaScript Libraries -->
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="~/lib/superfish/hoverIntent.js"></script>
<script src="~/lib/superfish/superfish.min.js"></script>
<script src="~/lib/morphext/morphext.min.js"></script>
<script src="~/lib/wow/wow.min.js"></script>
<script src="~/lib/stickyjs/sticky.js"></script>
<script src="~/lib/easing/easing.js"></script>

<!-- Template Specisifc Custom Javascript File -->
<script src="~/js/custom.js"></script>

<script src="~/contactform/contactform.js"></script>
<script src="~/js/main.js"></script>