
@{
    ViewBag.Title = "Equipo";
}

<!--==========================
Team Section
============================-->
<link href="~/Estilos/Equipo.css" rel="stylesheet" />

<section id="team">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Nuestro Equipo</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="member">
                    <div class="pic"><img height="100%" width="70%" src="/img/team/isc-cristian_perez.jpg" alt=""></div>
                    <h4>Cristian Pérez García</h4>
                    <span>Desarrollador Web/Windows</span>
                    <div class="social">
                        <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/ISC.CristianPerez/" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="https://www.linkedin.com/in/cristian-perez-garcia-387781170/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="member">
                    <div class="pic"><img height="100%" width="70%" src="~/img/team/isc-luis_montero.jpg" alt=""></div>
                    <h4>Luis Montero Vazquez</h4>
                    <span>Desarrollador Web/Windows</span>
                    <div class="social">
                        <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="member">
                    <div class="pic"><img height="100%" width="70%" src="~/img/team/isc-oscar_cruz.jpg" alt=""></div>
                    <h4>Oscar Omar Cruz Bernal</h4>
                    <span>Desarrollador Android/IOS</span>
                    <div class="social">
                        <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

