
@{
    ViewBag.Title = "Inicio";
}
<link href="~/Estilos/Inicio.css" rel="stylesheet" />
<script src="~/js/Inicio.js"></script>
<!--==========================
Seccion de slyder 
============================-->
<section id="hero">
    <div class="hero-container">
        <div class="wow fadeIn">            
            <!--Letras efecto codigo-->
            
                <div class="wrapper">
                    <div class="letters">
                        <!--SOTFWARE DEVELOPMENT SERVICE-->
                        <span class="letter">s</span> <!--1-->
                        <span class="letter">o</span> <!--2-->
                        <span class="letter">f</span> <!--3-->
                        <span class="letter">t</span> <!--4-->
                        <span class="letter">w</span> <!--5-->
                        <span class="letter">a</span> <!--6-->
                        <span class="letter">r</span> <!--7-->
                        <span class="letter">e</span> <!--8-->
                        <span class="letter"> </span> <!--9-->
                        <span class="letter">d</span> <!--10-->
                        <span class="letter">e</span> <!--11-->
                        <span class="letter">v</span> <!--12-->
                        <span class="letter">e</span> <!--13-->
                        <span class="letter">l</span> <!--14-->
                        <span class="letter">o</span> <!--15-->
                        <span class="letter">p</span> <!--16-->
                        <span class="letter">m</span> <!--17-->
                        <span class="letter">e</span> <!--18-->
                        <span class="letter">n</span> <!--19-->
                        <span class="letter">t</span> <!--20-->
                        <span class="letter"> </span> <!--21-->
                        <span class="letter">s</span> <!--22-->
                        <span class="letter">e</span> <!--23-->
                        <span class="letter">r</span> <!--24-->
                        <span class="letter">v</span> <!--25-->
                        <span class="letter">i</span> <!--26-->
                        <span class="letter">c</span> <!--27-->
                        <span class="letter">e</span> <!--28-->
                    </div>
                </div>
            
            <br />
            <!--<h1>Bienvenido a SOTFWARE DEVELOPMENT SERVICE</h1>-->
            <div id="inicio-opciones">
                <h2>Creamos <span class="rotating">páginas web, apps IOS y Android, apps de escritorio Windows</span></h2>
                <div class="actions">
                    <a href="#about" class="btn-get-started">Inicio</a>
                    <a href="#services" class="btn-services">Nuestros servicios</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--==========================
About Section
============================-->
<section id="about">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">¿Quienes somos?</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Nos dedicamos al desarrollo tecnológico en las empresas y organizaciones, con el firme objetivo de que la tecnología esté al alcance de todos. Por ello trabajamos con personas que necesitan desde una página web o facturación electrónica, hasta empresas internacionales que necesitan soluciones tecnológicas para miles de usuarios.</p>
            </div>
        </div>
    </div>
    <div class="container about-container wow fadeInUp">
        <div class="row">
            <div class="col-md-12 first-column">
                <img src="~/img/about-img.jpg" />
            </div>
            <div id="contenido-texto" class="col-md-6 col-md-push-6 about-content">
                <h2 class="about-title">We provide great services and ideass</h2>
                <p class="about-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate
                </p>
                <p class="about-text">
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                    id est laborum
                </p>
                <p class="about-text">
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                    id est laborum
                </p>
            </div>
        </div>
    </div>
    
</section>

